#header {
    border-bottom: solid #334155 2px;
    
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    padding: 0px;
    border: none;
}

#header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title button {
    font-size: 3.2em;
    font-weight: 500;
    padding: 0px;
    margin: 0px 10px;


}

#header select {
    font-size: 1em; 
    font-weight: 500;
    margin-left: 10px;
}