#tasklist {
    border: none;
    max-height: 300px;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

#tasklist::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}